
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("./rsrc/background.jpg");
    background-color: #171717aa;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 10rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serie{
    display: inline-block;
    width: 300px;
}

.content a:visited{
    color: #ffffff;
}

.content a{
    text-decoration: none;
    color: #ffffff;
}

.content a:hover{
    color: #ffffff;
}

.content a:active{
    color: #ffffff;
}
.content .title {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.content{
    display: flex;
    width: 60%;
    margin-top: 10em;
    background-color: rgba(106, 106, 106, 0.5);
    border-radius: 10px;
    animation: ease 0.5s fadeIn;
}

.content #welcome {
    font-size: 3rem;
    margin: auto;
    padding: 2rem;
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.content .form-group , .tri-action-group {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 4rem 4rem;
}

.content .tri-action-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.content .form-item , .form-item-search-catalogue {
    width: 100%;
    display: flex;
    position: relative;
}

.content .form-item input , .form-item-search-catalogue input {
    width: 100%;
    padding: 1rem 1rem 1rem calc(1rem * 3.6);
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgba(141, 141, 141, 0.6);
    text-align: left;
    color: black;
    transition: background-color 0.5s;
    animation: ease 0.5s growUp;
}

.content .form-item-search-catalogue input ,.content .form-item-search-catalogue span , .form-item-search-catalogue #item-search{
    animation: none;
}

@keyframes growUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.content .form-item input:focus , .form-item-search-catalogue input:focus {
    background-color: white;
}

.content .form-item input:hover ,.form-item-search-catalogue input:hover {
    background-color: white;
}

.content .form-item-other button:hover , .form-item-other-search-catalogue button:hover {
    background-color: white;
    padding: 1.2rem;
}

.content .form-item span:hover , .form-item-search-catalogue span:hover {
    font-size: xx-large;
    top: 0.5rem;
    left: 1.3rem;
}

.content .form-item span , .form-item-search-catalogue span , #item-search {
    position: absolute;
    top: 0.87rem;
    left: 1.5rem;
    cursor: default;
    transition: all 0.1s ease-in-out;
    animation: ease 0.5s slideIn;
}

.form-item-search-catalogue #item-search {
    top: 2.4rem;
    left: 1.1rem;
    font-size: x-small;
    transition: all 0.1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(10em);
    }
    100% {
        transform: translateX(0);
    }
}

.content .form-item-other {
    width: 100%;
    margin-top: 1rem;
}

.content .form-item-other a {
    text-decoration: none;
    color: white;
}

.content .form-item-other button, .form-item-other-search-catalogue button {
    margin-top: 20px;
    background: black;
    width: 100%;
    padding: 1rem;
    color: #8c8c8c;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.content .double-form-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content .double-form-sous-item {
    width: 100%;
    position: relative;
}

.content .double-form-sous-item input:hover {
    background-color: white;
}

.content .double-form-sous-item input:focus {
    background-color: white;
}

.content .double-form-item span:hover {
    font-size: xx-large;
    top: 0.5rem;
    left: 1.3rem;
}

.content .double-form-sous-item input {
    width: 98%;
    padding: 1rem 1rem 1rem calc(1rem * 3.6);
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgba(141, 141, 141, 0.6);
    text-align: left;
    color: black;
    transition: background-color 0.5s;
    animation: ease 0.5s growUp;
}

.content .double-form-item span {
    position: absolute;
    top: 0.87rem;
    left: 1.5rem;
    cursor: default;
    transition: all 0.1s ease-in-out;
    animation: ease 0.5s slideIn;
}

.serieRender {
    display: inline-block;
    width: 50%;
    margin: 10px;
    border: 1px solid #d81f26;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(65, 65, 65, 0.69);
    color: #ededed;
    align-items: center;
}

.accueil-action-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}

.accueil-action-title h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.accueil-action-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto auto 10px auto;
    justify-content: center;
    align-items: center;
}

.accueil-action > a{
    size: 32pt;
    text-decoration: none;
}

.profile-action-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}

.profile-action-title h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.profile-action-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto auto 10px auto;
    justify-content: center;
    align-items: center;
}

.catalogue-action-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.catalogue-action-group .catalogue-action-trie {
    display: flex;
    width: 100%;
}

.menu img {
    display: block;
    margin-left: auto;
    cursor: default;
}

.menu {
    display : flex;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #444444;
    text-align: left;
}

.menuPrincipal {
    display: block;
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

nav div{
    display :flex;
    justify-content: center;
    align-items: center;
}


img{
    width: 60%;
    height: 30%;
}

.element {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: 70px;
    font-weight: bold;
}

.element > a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: none;
    transition: ease-in-out 0.3s ;
}

.element > a:hover{
    color: #d81f26;
    border-bottom: #d81f26 2px solid;
}

.navList{
    list-style-type: none;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    width: 72em;
}

div {
    display: inline-block;
}

#amenu{
    color: black;
    text-decoration: none ;
}

.group-trier #deroule {
    --hauteur-menu: 41px;
}

.accueil-action-group-liste {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.accueil-action-group-liste .accueil-action-item-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#deroule , .group-trier #deroule {
    border-radius: 50px;
    position: relative;
    width: 70%;
}

#deroule {
    --hauteur-menu: 60px;
}

.group-trier #deroule {
    width: 90%;
}

#deroule > #serie , .group-trier #deroule > #serie {
    cursor: pointer;
    display: flex;
    text-align: center;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    height: 60px;
    width: 100%;
    margin-left: 10px;
    list-style-type: none;
    border-radius: 10px;
}

.group-trier #deroule > #serie {
    height: 50px;
}

#deroule > #serie > li, .group-trier #deroule > #serie > li {
    background-color: white;
    border-radius: 3px;
    position: relative;
    height: 100%;
    flex: 1;
}

.group-trier #deroule > #serie > li {
    border-radius: 10px;
    height: 50px;
}
#deroule > #serie > li > a {
    display: block;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.sous-menu , .group-trier .sous-menu{
    margin-top: var(--hauteur-menu);
    border-radius: 3px;
    width: 100%;
    padding-left: inherit;
    text-align: left;
    background-color: white;
    overflow: hidden;
    max-height: 0;
}

.group-trier .sous-menu {
    border-radius: 0 0 10px 10px;
}

.sous-menu > li > a {
    height: 50px;
    padding-left: 10px;
    width: 100%;
    align-items: center;
    display: flex;
}

#deroule > #serie > li:hover > a{
    color: #2169EC;
}
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    transition: ease 0.8s;
    transform: rotate(0deg);
}

.menu-deroulant:hover > a:after{
    transform: rotate(90deg);
}

.menu-deroulant > .sous-menu {
    transition: ease-in-out 1s;
    max-height: 0;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,0);
    border-top: none;
}

.menu-deroulant:hover > .sous-menu {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
}