body {
    padding: 10px;
    /*background-image:url(image/image.png);*/
}

nav{
    border-bottom: 1px solid black;
    margin-bottom: 100px;
}

#menu{
    list-style-type: none;
    padding-left: 0;
}

#element{
    display: inline-block;
    margin-left: 50px;
}

.content{
    text-align: center;
}

.accueil-action > ul{
    list-style-type: none;
}

.accueil-action > a{
    size: 32pt;
}